html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
}

.wrapper {
  height: 100%;
}

body{
  margin: 0;
}

main {
  padding: 4rem 0;
}

header{
  width: 100%;
  padding: 0;
  margin: 0;
  height: 5rem;
  background-color: aliceblue;
}

ul{
  display: flex;
  flex-direction: row;
  list-style-type: none;
}

li{
  padding: 1rem;
  cursor: pointer;
}

.container{
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  justify-content: flex-end;
  max-width: 1368px;
}


@media screen and (max-width: 768px) {
    .container{
      flex-direction: column;
    }
  }